<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.vallauri.rilieviEPerizie" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rilievi e Perizie</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <preference name="hostname" value="cordovaapp" /> <!--inserisco il nome di dominio così da poterlo inserire nella whitelist su server-->
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
